USE [columba]
GO
/****** Object:  Table [dbo].[chat]    Script Date: 08.08.2018 13:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[chat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sender] [int] NOT NULL,
	[Receiver] [int] NOT NULL,
	[Message] [varchar](max) NULL,
	[Date] [datetime] NULL,
	[Readable] [int] NULL,
 CONSTRAINT [PK__chat__3214EC0721D72394] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[username]    Script Date: 08.08.2018 13:54:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[username](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](max) NULL,
	[password_] [varchar](max) NULL,
	[mail] [varchar](max) NULL,
	[isActive] [int] NULL,
	[isOnline] [int] NULL,
	[image] [varbinary](max) NULL,
	[LastSeen] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[chat] ON 

INSERT [dbo].[chat] ([Id], [Sender], [Receiver], [Message], [Date], [Readable]) VALUES (1, 39, 1, N'hi basak', CAST(0x0000A92A00000000 AS DateTime), 1)
INSERT [dbo].[chat] ([Id], [Sender], [Receiver], [Message], [Date], [Readable]) VALUES (2, 1, 39, N'hi musa', CAST(0x0000A92A00000000 AS DateTime), 1)
INSERT [dbo].[chat] ([Id], [Sender], [Receiver], [Message], [Date], [Readable]) VALUES (3, 39, 1, N'what''s up', CAST(0x0000A92C00000000 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[chat] OFF
SET IDENTITY_INSERT [dbo].[username] ON 

INSERT [dbo].[username] ([Id], [name], [password_], [mail], [isActive], [isOnline], [image], [LastSeen]) VALUES (1, N'bluesshead', N'1235', N'basak.buga@bdh.com.tr', 1, 0, NULL, CAST(0x0000A93100FC038E AS DateTime))
INSERT [dbo].[username] ([Id], [name], [password_], [mail], [isActive], [isOnline], [image], [LastSeen]) VALUES (2, N'fsociety', N'321', N'bluesshead@gmail.com', 1, 0, NULL, CAST(0x0000A92F008FF876 AS DateTime))
SET IDENTITY_INSERT [dbo].[username] OFF
ALTER TABLE [dbo].[chat] ADD  CONSTRAINT [DF_chat_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[chat]  WITH CHECK ADD  CONSTRAINT [FK_chat_username] FOREIGN KEY([Sender])
REFERENCES [dbo].[username] ([Id])
GO
ALTER TABLE [dbo].[chat] CHECK CONSTRAINT [FK_chat_username]
GO
ALTER TABLE [dbo].[chat]  WITH CHECK ADD  CONSTRAINT [FK_chat_username1] FOREIGN KEY([Receiver])
REFERENCES [dbo].[username] ([Id])
GO
ALTER TABLE [dbo].[chat] CHECK CONSTRAINT [FK_chat_username1]
GO
