@model List<FirstMVCProject.Models.username>

<!-- Heading -->
@foreach (var person in Model)
{
		string resim = "https://media.istockphoto.com/vectors/default-male-avatar-profile-picture-icon-grey-man-photo-placeholder-vector-id653035612";
		if (person.image != null)
		{
			var base64 = Convert.ToBase64String(person.image);
			resim = String.Format("data:image/gif;base64,{0}", base64);
		}
<div class="row heading">
	<div class="col-sm-3 col-xs-3 heading-avatar">
		<div class="heading-avatar-icon">
			<img src="@resim" />
		</div>
	</div>
	<div class="col-sm-8 col-xs-7 heading-name">
		<a class="heading-name-meta">
			Hi, @person.name.ToUpper()!
		</a>
		<span class="heading-online">Online</span>
	</div>
	<div class="col-sm-2 col-xs-2 heading-compose  pull-right">
		<i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
	</div>
</div>
}	<!-- Heading End -->