<!-- SearchBox -->
<div class="row searchBox">
	<div class="col-sm-12 searchBox-inner">
		<div class="form-group has-feedback">
			<input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search..." onkeyup="myFunction()">
			<span class="glyphicon glyphicon-search form-control-feedback"></span>
		</div>
	</div>
</div>
<!-- Search Box End -->

<script>
	function myFunction() {
		var input, filter, ul, li, a, i;
		input = document.getElementById("searchText");
		filter = input.value.toUpperCase();
		ul = document.getElementById("SideBarMenu");
		li = ul.getElementsByTagName("li");
		for (i = 0; i < li.length; i++) {
			a = li[i].getElementsByClassName("person-name")[0];
			if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
				li[i].style.display = "";
			} else {
				li[i].style.display = "none";
			}
		}
	}
</script>